.home {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* max-width: 1600px; */
  /* box-shadow: 0 4px 2px -2px gray; */
}

.home {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
  }
  
  
  .home::-webkit-scrollbar {
    display: none;
  }
  
  .home::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
  }
  
  .home::-webkit-scrollbar-track {
    background: transparent; /* Hide the track */
  }

.footer {
  padding: 20px;
}

.footer__center {
  text-align: center;
  color: var(--thirdTheme-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* 
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}


.header__titleContainer {
    display: flex;
    align-items: center;
    width: 50%;
}

.header__subtitleContainer {
    display: flex;
}

.header__title {
    font-size: 48px;
}

.header__subtitle {
    padding-right: 42px;
    font-size: 24px;
}

.header__searchContainer {
    padding-right: 100px;
} */
