.home {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
}

.home::-webkit-scrollbar {
  display: none;
}

.home::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

.home::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

.footer {
  padding: 20px;
}

.footer__center {
  text-align: center;
  color: var(--thirdTheme-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
