.people {
  flex: 1;
}

.people__mainContainer {
  padding: 0px 48px;
}

.people__innerContainer {
  padding: 80px 0px;
}

.people__sectionTitle {
  color: var(--fourthTheme-color);
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.people__sectionTitle > h1 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
}

.people__cards {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 40px;
  justify-content: center;
  align-content: flex-start;
}

.people__card {
  overflow: hidden;
  transition: transform 0.2s ease;
}

.people__card:hover {
  transform: scale(1.04);
}

.people__cardImg {
  overflow: hidden;
  max-width: 100%;
}

.people__cardImg > img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.people__cardName {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  color: var(--fourthTheme-color);
  font-size: 16px;
}

.people__cardName > h3 {
  font-weight: 300;
}

/* React-Paginate CSS */

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  font-size: 18px;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  color: var(--thirdTheme-color);
  line-height: 40px;
  padding-left: 0px;
}

.pagination .page-link {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  background-color: var(--secondTheme-color);
}

.pagination .page-link:hover {
  background-color: var(--mainTheme-color);
  color: var(--secondTheme-color);
}

.pagination .active {
  background-color: var(--mainTheme-color);
  color: var(--secondTheme-color);
}

.people__page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1440px) {
  .people__card {
    max-width: 100%;
    overflow: hidden;
    transition: transform 0.2s ease;
  }

  .people__card:nth-child(5n) {
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .people__mainContainer {
    padding: 0px 24px;
  }

  .people__cards {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    justify-content: center;
    align-content: flex-start;
  }
}

@media (max-width: 768px) {
  .people__cards {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    justify-content: center;
    align-content: flex-start;
  }
}

@media (max-width: 660px) {
  .people__cards {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    justify-content: center;
    align-content: flex-start;
  }
}

@media (max-width: 424px) {
  .people__mainContainer {
    padding: 0px 12px;
  }
}
